@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.title-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.flex {
    display: flex;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
}

.orange {
    color: #E95A08;
}

.black {
    color: black;
}

.center {
    justify-items: center;
    align-items: center;
}

.description {
    font-size: 1.30rem;
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}

/* nav tasks */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items {
    display: flex;
    list-style: none;
    width: 420px;
    height: 60px;

    justify-content: space-between;
    align-items: center;

}

.nav-link {
    color: black;
    text-decoration: none;
}

/* banner styles */
.banner {
    margin-top: 120px;
    justify-content: space-between;
    align-items: end;
}

.banner img {
    width: 50%;
}

.banner-title {
    font-size: 2rem;
    font-weight: 700;
    width: 50%;
}

.banner-title p {
    margin-bottom: 0;
}

/* plants styles */

.plants {
    height: 1185px;
    margin-bottom: 210px;

}

.plant-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
}

.plant-description {
    height: 140px;
    width: 800px;
    margin-top: 120px;
    margin-bottom: 50px;

}

.plant-title {
    font-size: 3rem;
    font-weight: 700;
}

.card img {
    width: 100%;
}

/* lover */
.lover {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    align-items: center;
    gap: 50px;
    margin-bottom: -190px;
}

.lover-image {
    flex: 1;
    width: 100%;
}

.lover-content {
    flex: 1;
    width: 100%;
    margin-bottom: 300px;

}

.lover-title {
    font-size: 3rem;
    font-weight: 700
}

.image-stack .top-img {
    position: relative;
    width: 300px;
    display: inline-block;
}

.base-img {
    display: block;
    width: 95%;
    height: auto;
}


.top-img {
    position: absolute;
    top: -850px;
    left: 460px;
    z-index: 1;

}

/* deals */

.deals {
    margin: 120px auto;
}

.promo-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 420px;
}

.promo-card {
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/* Grid placement */
.bloom {
    grid-column: 1;
    grid-row: 1;
    background-image: url('../assets/deal-bloom.png');
}

.ana {
    grid-column: 1;
    grid-row: 2;
    background-image: url('../assets/deal-ana.png');
}

.zabo {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-image: url('../assets/deal-zabo.png');
}

/* Text styling */
.promo-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
}

.promo-text-3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
}

.promo-btn {
    background: none;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}